# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
In this notebook we will mention:

* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists
* Some Data Science Tools
* examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

* Python
* R
* SQL

### Some of the commonly used libraries used by Data Scientists include:

* Pandas
* NumPy
* Matplotlib
* Seaborn
* Scikit-Learn
* Keras
* TensorFlow
* PyTorch
* Apache Spark

### Some Data Science Tools Table 

| Data Science Tools |
| -------------|
| MySQL |
| PostgreSQL |
| MongoDB |
| Apache CouchDB  |
| Apache Cassandra  |
| Hadoop |
| Ceph |
| Elasticsearch |
| Apache AirFlow |
| KubeFlow|
| Kubernetes|
| Apache Kafka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#### Addition operation
2+2

4

#### Multiplication operation
2.5*3.5

### p. ej  This a simple arithmetic expression to mutiply then add integers.

In [3]:
(3*4)+5

17

### p. ej  This will convert 200 minutes to hours by diving by 60.

In [4]:
200/60

3.3333333333333335

## Author 
Mary Puentes Amaya